@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    background: #c287f6;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 715px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.wrapper header {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
}

.wrapper form {
    margin: 35px 30px;
}

form .field {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}

.field .field1 {
    height: 40px;
    display: flex;
    position: relative;
    width: calc(100% / 2 - 13px);
}

form .field input,
form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.wrapper .field i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: #736e6e;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field input::placeholder,
form .message textarea::placeholder {
    color: #b2b1b1;
}

form .field input:focus,
form .message textarea:focus {
    padding-left: 47px;
    border: 2px solid #cb99f7;
}

form .field input:focus~i,
form .message textarea:focus~i {
    color: #c287f6;
}

form .message {
    position: relative;
}

form .message i {
    top: 30px;
    font-size: 20px;
}

form .message textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
}

form .button-area {
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.button-area button {
    padding: 13px 25px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background: #b367f6;
    transition: background 0.3s ease;
}

.button-area button span {
    color: #736e6e;
    margin-left: 30px;
}

@media (max-width: 600px) {
    .wrapper header {
        text-align: center;
    }

    .wrapper form {
        margin: 35px 20px;
    }

    form .field {
        flex-direction: column;
        margin-bottom: 0px;
    }

    form .field .field1 {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }

    form .message textarea {
        resize: none;
    }

    form .button-area {
        margin-top: 20px;
        flex-direction: column;
    }

    .button-area button {
        width: 100%;
        padding: 11px 0;
        font-size: 16px;
    }

    .button-area span {
        margin: 20px 0;
        text-align: center;
    }
}